.banner {
  @include span(12);

  &__container {
    position: relative;

    overflow: hidden;

    background-color: $blue--oxford;
  }

  .image--featured {
    padding-top: 41%;
  }

  &__baseline {
    font-family: $factoria;

    position: relative;
    z-index: 1;

    padding-top: 10px;
    padding-right: $cornerWidth--mobile;

    background-color: $white;

    @include font-size(17, 21);


    @media screen and (min-width: $breakpoint--tablet-portrait) {
      position: absolute;
      top: 50%;
      right: 5%;

      margin-top: -11px;
      padding-top: 0;
      padding-right: 0;

      color: $white;
      background-color: transparent;
    }
  }
}
