.footer {
  padding: 60px 0 50px;

  color: white;
  background-color: $blue--oxford;

  a {
    text-decoration: none;

    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }

  &__body {
    @include container();

    @media screen and (min-width: $breakpoint--tablet) {
      @include container($breakpoint--tablet);
    }
  }

  &__contact,
  &__logo,
  &__newsletter {
    padding-right: 10%;
    padding-left: 10%;

    @include span(12);

    @media screen and (min-width: $breakpoint--tablet) {
      @include span(4);
    }
  }

  &__brand {
    padding-top: 30px;

    text-align: center;

    @include span(12);
  }
}
