header {
  .container {
    position: relative;

    padding-top: 8px;
    padding-bottom: 5px;



    @media screen and (min-width: $breakpoint--tablet) {
      display: flex;

      height: 100%;
      padding-top: 20px;
      padding-bottom: 25px;
    }
  }

  .brand {
    @include span(5);

    @media screen and (min-width: $breakpoint--tablet) {
      @include span(3);
    }
  }

  #mobile-toggle {
    @include span(1 rtl);

    a {
      display: block;
    }

    img {
      padding: 50% 0;
      //padding: 70% 0 0;
    }

    @media screen and (min-width: $breakpoint--tablet) {
      display: none;
    }
  }

  .nav-primary {
    //position: relative;
    overflow: hidden;

    height: 0;

    @include span(12);

    &__wrapper {
      padding-top: 20px;
    }

    @media screen and (min-width: $breakpoint--tablet) {
      display: inline-block;
      overflow: auto;

      height: auto;

      @include span(9);
      align-self: flex-end;

      &__wrapper {
        padding-top: 0;
      }
    }
  }

  .menu-main-navigation-container {
    ul {
      list-style: none;
    }

    li + li {
      border-top: 1px solid $blue--oxford;
    }

    li.current-menu-item a {
      color: $gimblet;
    }

    a {
      text-decoration: none;

      color: $blue--oxford;

      &:hover,
      .active {
        color: $gimblet;
      }
    }

    @media screen and (min-width: $breakpoint--tablet) {
      @include span(12);

      ul {
        @include container();
      }

      li {
        display: inline-block;
        float: left;

        & + li {
          margin-left: 20px;

          border-top: none;
        }
      }
    }
  }


  .menu-language-container {
    margin-top: 10px;

    ul {
      @include container();

      li {
        text-align: center;

        @include span(2 rtl);
      }
    }

    @media screen and (min-width: $breakpoint--tablet) {
      position: absolute;
      top: 10px;
      right: 0;

      width: 160px;
      margin-top: 0;
    }
  }
}
