.post-overview {
  margin-top: 30px;
}

.post {
  @include container();

  &__image {
    overflow: hidden;

    @include span(12);

    @media screen and (min-width: $breakpoint--tablet-portrait) {
      @include span(6);
    }

    @media screen and (min-width: $breakpoint--tablet) {
      @include span(9);
    }
  }

  &__body {
    @include span(12);

    @media screen and (min-width: $breakpoint--tablet-portrait) {
      @include span(6);
    }

    @media screen and (min-width: $breakpoint--tablet) {
      @include span(3);
    }
  }

  &__meta {
    position: relative;

    margin-top: -50px;

    @media screen and (min-width: $breakpoint--tablet-portrait) {
      margin-top: 0;
    }
  }

  .image--featured {
    padding-top: 67%;
  }

  .updated {
    padding: 5px;

    background: #fff;

    @media screen and (min-width: $breakpoint--tablet-portrait) {
      margin-top: 0;

      @include font-size(20, 20);
    }

    @media screen and (min-width: $breakpoint--tablet) {
      &__day {
        font-weight: bold;

        display: block;

        @include font-size(40, 40);
      }
    }
  }

  .entry-title {
    padding-bottom: 0;

    border-bottom: none;

    a {
      text-decoration: none;

      color: $blue--oxford;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__category {
    display: none;

    @media screen and (min-width: $breakpoint--tablet) {
      position: relative;

      display: block;

      margin-top: 25px;

      figure {
        display: inline-block;

        width: 135px;
        margin: 0;
      }
    }
  }

  &__category-label {
    position: absolute;
    bottom: 64px;
    left: 112px;

    text-transform: uppercase;

    color: $gimblet;

    @include font-size(20, 20);
  }
}
