.post-overview {
  margin-top: 30px;
}

.post {
  position: relative;

  padding: 5px 0;

  @include container();

  @media screen and (min-width: $breakpoint--tablet-portrait) {
    padding: 30px 0;
  }

  & + .post {
    border-top: 1px solid;
  }

  &__container {
    @include span(12 no-gutters);
  }

  &__container {
    position: relative;

    overflow: hidden;
  }

  &__image {
    display: none;
    overflow: hidden;

    @media screen and (min-width: $breakpoint--tablet) {
      position: absolute;
      right: 0;
      bottom: 0;

      display: block;

      width: span(4);
    }

    .post-overview--expanded & {
      position: relative;
      right: auto;
      bottom: auto;

      @include span(12);

      @media screen and (min-width: $breakpoint--tablet-portrait) {
        @include span(6);
      }

      @media screen and (min-width: $breakpoint--tablet) {
        @include span(9);
      }
    }
  }

  &__body {
    position: relative;

    @include span(12 no-gutters);

    @media screen and (min-width: $breakpoint--tablet) {
      min-height: 330px;
    }

    .post-overview--expanded & {
      min-height: none;
      @media screen and (min-width: $breakpoint--tablet-portrait) {
        @include span(6);
      }

      @media screen and (min-width: $breakpoint--tablet) {
        @include span(3);
      }

      &__container {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &__meta {
    position: relative;

    border-bottom: 1px solid $beige--kidnapper;

    @include container();

    @media screen and (min-width: $breakpoint--tablet-portrait) {
      padding-bottom: 30px;
    }

    .updated {
      @include span(6);
    }

    .post__category {
      float: right;

      padding-top: 20px;

      text-align: right;
    }



    .post-overview--expanded & {
      margin-top: -50px;

      border-bottom: none;

      .updated {
        @include span(12);
      }

      .post__category {
        text-align: left;

        @include span(12);
      }

      @media screen and (min-width: $breakpoint--tablet-portrait) {
        margin-top: 0;
      }
    }
  }

  .image--featured {
    padding-top: 67%;
  }

  .updated {
    padding: 5px;

    background: #fff;

    @media screen and (min-width: $breakpoint--tablet-portrait) {
      margin-top: 0;

      @include font-size(20, 20);
    }

    @media screen and (min-width: $breakpoint--tablet) {
      &__day {
        font-weight: bold;

        display: block;

        @include font-size(40, 40);
      }
    }
  }

  .entry-title {
    padding-bottom: 0;

    border-bottom: none;

    a {
      text-decoration: none;

      color: $blue--oxford;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .entry-summary,
  .entry-title {
    @media screen and (min-width: $breakpoint--tablet) {
      @include span(8);
    }

    .post-overview--expanded & {
      @include span(12 no-gutters);
    }
  }

  &__category {
    display: none;

    @media screen and (min-width: $breakpoint--tablet) {
      display: block;
    }

    .post-overview--expanded & {
      @media screen and (min-width: $breakpoint--tablet) {
        margin-top: 25px;
      }
    }
  }

  &__category-label {
    position: relative;

    display: block;

    padding-left: 50px;

    text-transform: uppercase;

    color: $gimblet;

    @include font-size(20, 20);

    &:before {
      position: absolute;
      bottom: -25px;
      left: 0;

      width: 56px;
      height: 57px;

      content: '';

      background-image: url(../images/paper.svg);
      background-size: cover;
    }
  }
}
