.posts-navigation {
  .nav-links {
    padding: 30px 0;

    border-top: 1px solid;

    @include container();
  }

  .nav-next {
    @include span(6 no-gutters);
  }

  .nav-previous {
    text-align: right;

    @include span(6 omega no-gutters);
  }
}
