.cta {
    font-weight: bold;

    position: relative;

    display: inline-block;

    padding: 13px 50px 13px 16px;

    transition: .6s background, .6s color, .6s transform;
    text-align: left;
    text-decoration: none;

    color: $blue--oxford;
    background: $beige--kidnapper;

    @include font-size(17, 20);

    &:after {
        font-size: 70px;
        font-weight: 400;
        line-height: 40px;

        position: absolute;
        top: 50%;
        right: 10px;

        width: 38px;
        height: 28px;
        margin-top: -15px;

        content: '+';
        transition: .6s transform;
        transform-origin: 50% 50%;
    }

    &:hover {
        @extend .cta--inverse;

        &:after {
            transform: rotate(90deg);
        }
    }

    &--inverse {
        color: $beige--kidnapper;
        background: $blue--oxford;
    }
}
